h2{
    color:#070A52 ;
}

#invoice1{
    background-color: #FDE2F3;
    text-align: center;
}
.inception{
    background-color: #7C96AB;
    text-align: center;
}

.tuni{
    text-align: center;
    color: #2A2F4F;

}
.my2{
    color:#917FB3 ;
    
}
